/saves/scenarios
/saves/training
Launcher.exe
LegalNotice.txt
MiniAVC.log
PartDatabase.cfg
Physics.cfg
README.md
readme.txt
settings.cfg
steam_api.dll
steam_api64.dll
SteamDep.txt
Ships
sounds
Source
thumbs
.gitignore
buildID.txt
buildID64.txt
KSP.exe
KSP.log
KSP_x64.exe
Resources
Internals
KSP_Data
KSP_x64_Data
Launcher_Data
Parts
PluginData
Plugins
_MMCfgOutput
Squad
